.products{
    min-height: 210vh;
    background-color: rgba(247, 244, 239, 0.885);
    /* padding: 10px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    font-weight: 200;

}

.pro-container{
    /* width: 95%; */
    height: 25em;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 10px; */

}



.pro-item{
    background-color: rgb(236, 245, 244);
    border-radius: 7px;
    box-shadow: 4px 5px 3px 1px rgba(191, 194, 182, 0.96);
    padding: 5px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
   align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 400px;
    border: 1px solid rgb(161, 201, 161);
    
    
}

.item-title{
    background-color: rgb(236, 230, 220);
    border: 1px solid rgb(236, 230, 220);
    font-weight: 200;
}

.pro-item:hover{
    transition: 1s;
    transform: scale(1.1);
   
}

.contents{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    width: 100%;
    padding: 3px;
}
.contents:hover{
font-size: 18px;
transition: 1s;
color: rgb(250, 245, 245);
background-color: rgb(1, 10, 17);
opacity: 0.5;
border-radius: 5px;

}

img{
height: 100%;
 width: 100%;
 object-fit: cover;
 border-radius: 20px;
 margin-bottom: 30px;
 }

.item-img{
    background-color: rgb(236, 245, 244);
    width: 100%;
}

.btn_group{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
   
}

.gitBtn{
    border-radius: 5px;
    background-color: rgb(236, 245, 244);
}

.gitBtn:hover{
    border-radius: 5px;
    background-color: rgb(205, 205, 180);
}
.deployedBtn{
    background-color: rgb(236, 245, 244);
    border-radius: 5px;
    width: 150px;
}

.deployedBtn:hover{
    background-color: rgb(205, 205, 180);
}


/* ...................... */
@media screen and (max-width: 480px) {
   
    .products{
        min-height: 185vh;
    }
   .pro-container{
       align-items: center;
       margin-top: 10px;
   }

}