.menu{
    background-color: rgb(128, 141, 194);;
    height:300px;
    margin-top: 70px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 15em;
    border-radius: 5px;
    
}

.menu ul{
  transition: 1.5s;
  text-align: center;
}

.menu li{
    list-style: none;
    text-align: center;
    border-bottom: rgb(200, 221, 221) 1px solid;
    padding: 7px;
    margin-top: 10px;
    
}

.menu li:hover{
    /* background-color: rgb(128, 122, 129); */
    transition: 1s;
}

.menu li a{
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: cornsilk;
    
}

.menu li a:hover{
    font-size: 27px;
}