.intro{
    background-color: rgba(247, 244, 239, 0.885);
    display: flex;
    flex-direction: row;
    background-image: url('../../img_container/b1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* border: ; */
}

.intro .intro-left{
    flex: 0.7;
}
.intro .intro-right{
  flex: 0.3;
}

div .intro-left .imgContainer{

    padding: 10px;
    width: 90%;
    height: 500px;
    margin: 20px;
    background-color: burlywood;
    border-radius: 50%;
    background-image: url('../../img_container/abdu.jpg');
    transition: 1.5s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: rgb(204, 54, 54) 3px solid; */
     clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);

}

div .intro-left .imgContainer:hover{
    background-image: url('../../img_container/abdu.jpg');
    transition: 1.5s; 
}

.my_img{
  border-radius: 50%;
  border: solid 1p black;
  transition: 1s;
  width: 100px;
}

img:hover{
    width: 300px;
    transition: 1s;
    /* clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); */
  }

div .intro-left .intro-text{
    /* border: blueviolet 1px  solid; */
    padding: 10px;
    width: 100%;
    height: 200px;
    margin: 20px;
    background-color: burlywood;
    border-radius: 7px;

    
}

.intro .intro-right{
    /* background-color: burlywood; */
    flex: 0.5;
    
}
.intro .intro-right .wrapper{
    /* border: brown 1px solid; */
    margin-top: 5em;
    min-height: 15em;
    margin-right: 50px;
    padding: 20px; 
    margin-bottom: 30em;
    background-color: cornsilk;
    font-weight: 20px;
    padding: 20px;
    margin-left: 30px;
    position: relative;
    opacity: .8;
    font-size: 20px;
    color: #ccc5b1;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(136, 133, 125),
                 1px 1px 0 rgb(211,149,0),
                 2px 2px 0 rgb(133, 129, 120),
                 3px 3px 0 rgb(182,120,0),
                 4px 4px 0 rgb(167,105,0),
                 5px 5px 0 rgb(152,90,0),
                 6px 6px  0 rgb(137,75,0),
                 7px 7px 6px rgba(0,0,0,0.68),
                 7px 7px 1px rgba(0,0,0,0.5),
                 0px 0px 6px rgba(0,0,0,.2);
     clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
    
    


 .wrapper h2{
    font-size: 50px;
}

.wrapper a i{
    position: absolute;
    bottom: 10px;
    font-size: 50px;
}


.wrapper .typing-demo{
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}


@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

